.Navigator {
  display: flex;
  align-items: center;
  width: 100%;
  color:white;
  height: 5rem;
  background-color: #1e1e2f;
  padding: 0 1rem;
}

/* .Layout{
    display: flex;
    flex-direction: column;
} */


.Navigator .Logo {
  flex: 1; /* takes 1 part */
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.Overview {
    display: flex;
    align-items: center;
    width: 100%;
    color:white;
    height: 5rem;
    background-color: gray;
    padding: 0 1rem;
}


.sidebar {
    background-color: #374151;
    color:white;
    border: 1px solid #1e1e2f;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width:100%;

};